@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --tw-bg-opacity: 1;
  --secondary: rgb(20 184 166 / var(--tw-bg-opacity, 1));

}

@layer theme {
  @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    /* Your custom background color */
    --color-bgprimary: #020617;
    --color-bgsecondary: #14b8a6;
    --color-textcolor: #94a3b8;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE & Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

.glass-input{
    border-width: 1px;
    border-color: rgb(51 65 85 / 0.5);
    background-color: rgb(15 23 42 / 0.5);
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
    outline: 2px solid transparent;
    outline-offset: 2px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.glass-input{
     border-width: 1px;
    border-color: rgb(51 65 85 / 0.5);
    background-color: rgb(15 23 42 / 0.5);
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
    outline: 2px solid transparent;
    outline-offset: 2px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
